@import 'tailwindcss';
@custom-variant dark (&:is(.dark *));


@layer base {
  @font-face {
    font-family: Aeonik;
    src: url('./assets/Aeonik-Regular.otf');
  }

  @font-face {
    font-family: Aeonik;
    src: url('./assets/Aeonik-Bold.otf');
    font-weight: bold;
  }

  @font-face {
    font-family: Aeonik;
    src: url('./assets/Aeonik-Medium.otf');
    font-weight: 500;
  }

  @theme {
    --color-accent: var(--accent);
    --color-app-bg: var(--app-bg);
    --color-border-darker: var(--border-darker);
    --color-border-default: var(--border-default);
    --color-border-disabled: var(--border-disabled);
    --color-errors-darker: var(--errors-darker);
    --color-errors-default: var(--errors-default);
    --color-errors-lighter: var(--errors-lighter);
    --color-errors-subtle: var(--errors-subtle);
    --color-primary-darker: var(--primary-darker);
    --color-primary-default: var(--primary-default);
    --color-primary-lighter: var(--primary-lighter);
    --color-primary-subtle: var(--primary-subtle);
    --color-success-darker: var(--success-darker);
    --color-success-default: var(--success-default);
    --color-success-lighter: var(--success-lighter);
    --color-success-subtle: var(--success-subtle);
    --color-surface-default: var(--surface-default);
    --color-surface-disabled: var(--surface-disabled);
    --color-surface-subtle: var(--surface-subtle);
    --color-text-body: var(--text-body);
    --color-text-caption: var(--text-caption);
    --color-text-disabled: var(--text-disabled);
    --color-text-subtitle: var(--text-subtitle);
    --color-text-title: var(--text-title);

    /* Custom Breakpoints */
    --breakpoint-xs: 24rem; /* 384px */
    --breakpoint-sm: 32rem; /* 512px */
  }


  :root.dark,
  body.dark {
    --app-bg: #17171a;
    --border-darker: #a09fac;
    --border-default: #767482;
    --border-disabled: #28282e;
    --surface-disabled: #47464e;
    --surface-default: #767482;
    --surface-subtle: #28282e;
    --text-body: #d9d8de;
    --text-disabled: #767482;
    --text-subtitle: #c6c5cd;
    --text-title: #f9f5ff;
  }

  :root {
    --accent: #f15454;
    --app-bg: #fff;
    --border-darker: #c6c5cd;
    --border-default: #d9d8de;
    --border-disabled: #f9f5ff;
    --errors-darker: #782a2a;
    --errors-default: #f15454;
    --errors-lighter: #f8a9a9;
    --errors-subtle: #fce2e2;
    --primary-darker: #5749a6;
    --primary-default: #836ef9;
    --primary-lighter: #c1b6fc;
    --primary-subtle: #eae6fe;
    --success-darker: #377c3a;
    --success-default: #49a64d;
    --success-lighter: #b6fcb9;
    --success-subtle: #e6fee7;
    --surface-default: #d9d8de;
    --surface-disabled: #c6c5cd;
    --surface-subtle: #f9f5ff;
    --text-body: #28282e;
    --text-caption: #8e8c9c;
    --text-disabled: #a09fac;
    --text-subtitle: #47464e;
    --text-title: #17171a;
  }



  html {
    font-family: Aeonik, Inter, sans-serif;
  }


 

  @keyframes grow {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.3);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-grow {
    animation: grow 3s linear infinite;
  }

  .shadow-subtle {
    box-shadow: 0px 0px 16px 0px rgb(from var(--text-subtitle) r g b / 15%);
  }
}

body {
  background-color: var(--app-bg);
  color: var(--text-body);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 64px;
}

@media (min-width: 512px) {
  #root {
    padding-top: 72px;
  }
}

@media (max-width: 768px) {
  #root {
    padding-bottom: 72px;
  }
}

.p-ink {
  background-color: var(--border-darker);
}

[id^='tradingview_'] {
  border: 1px solid var(--border-default);
  border-radius: 32px;
  height: min(60vh, 384px) !important;
}

body.dark [id^='tradingview_'] {
  border-color: var(--surface-subtle);
}

input {
  background-color: unset;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type='number'] {
  -mox-appearance: textfield;
  appearance: textfield;
}

[data-pc-section='mask'] {
  overflow: auto;
}

.p-accordion-header,
.p-accordion-header-link {
  background-color: var(--surface-subtle);
}

.list-primary-bullet li::marker {
  color: var(--primary-default);
}

@media (min-width: 576px) and (max-width: 768px) {
  #theme-toggle-text {
    display: inline;
  }
}